@import './node_modules/bootstrap/dist/css/bootstrap.min.css';


#content{
    display: flex;
    flex-direction: row;
}

#details{
    display: none;
}

#download-modal, #loading-modal{
    
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    align-items: center;
    justify-content: center;
    flex-direction: row;
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#download-content{
    border-radius: 20px;
    display: flex; /* Hidden by default */
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 30vh;
    width: 60vh;
    background-color: rgba(255, 255, 255, .9);
}
#loading-content{
    border-radius: 20px;
    display: flex; /* Hidden by default */
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 60vh;
    width: 60vh;
    background-color: rgba(255, 255, 255, .9);
}

.btn-download{
    margin: 10px;
    width: 50vh;
}



#downloadsPage{
    display: none;
}

#searchByUrl{
    display: none;
}


#api_key-modal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.4);
}

#key-content{
    background-color: rgba(255, 255, 255, .9);
    width: 400px;
    height: 150px;

}
